body{
    background: url("../images/couch-background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 2000px;
}
.col-md-12{
    text-align: center;
    color: #fff;
}

.col-md-6{
    margin: 40px 0 0 0;
    border: dotted;
    color: #fff;
}

.img-thumbnail{
    display: block;
    margin: 10px auto;
}

h1{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 150px;
    margin: 10px 0 0 0;
    color: #fff;
}

h2{
    font-family: 'Asul', sans-serif;
    font-size: 90px;
    color: #fff;
}

p{
    font-family: 'Chivo', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#score,
#current-word-blanks, 
#guesses,
#guessed-letters-list {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
}